.wellup{
            width: 400px;
            height: 200px;
            background-color: antiquewhite;
            border: 10px solid black;
            border-top-color: brown;
            border-left-color: aqua;
            border-right-color: aquamarine;
            border-radius: 10px;
            margin-top: 4px;
            
        }

.div2{
    width: 200px;
    height: 200px;
    background-color: pink;
    padding: 20px 15px 10px 5px;
    margin: 4px ;
    overflow-x: hidden;
}

.div3{
    height: 100%;
    width: 100%;
    background-color: aqua;
    /* margin: 25px; */
    padding: 10px;
    

}

.div3 p{
    color:red;
    font-size: 14px;
    font-family: cursive;
    /* padding: 5px; */
}

.div3 span{
    color: blue;
}